body {
    padding: 10px;
    margin: 0;
    
  }

  html {
    height: 100%;
  }

  .row {
    float: center;
  }

  h2 {
    text-align: center;
    color: white;
  }

  h2:hover {
    color: rgb(99, 104, 116);
  }

  a:hover {
    color: rgb(99, 104, 116) !important;
  }

  .navbar-brand {
    background-color: #0BADA6;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 25px;
  }

  .row {
    background: rgba(235, 233, 233, 0.8);
  }

  .navbar a {
    color: rgb(14, 7, 7) !important;
  }
  
/* https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp */
/* Show the dropdown menu on hover */
  .nav-dropdown:hover .dropdown-menu {
    display: inline;
  }  
    
  .navbar-nav{
    padding-right: 60px;
  }

  .card-title {
    color: #0BADA6;
    padding-top: 15px;
  }
  
  /* .home-card {
    padding-left: 20px;
  }

  .home-card-v {
    padding-right: 20px;
  } */

  code {
    display: block;
    white-space: pre-wrap;
    font-size: 18px;
  }

  .dropdown-menu {
    position: absolute;
    /* top: 80%; */
    left: 80%;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: .5rem 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-radius: .25rem;
  }

  .dropdown-item:hover {
    background-color: rgba(235, 233, 233, 0.8);
  }
  
  /* Sticky footer using flexbox */
  /* https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .container {
    flex: 1
  }
 
  .card-footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 5px solid #0BADA6;
  }
  
  /* Menu Button */
  .github-side-icon {
    position: absolute;
    z-index: 3;
    top: 100px;
    right: 35px;
    cursor: pointer;
  }

/* Text Wrapping */
 #description-img {
    float: left;
  }

